$white: #FFFFFF;
$black: #000000;
$gray: #d4d4d4;
$overlay-color: #2c2d33;
$overlay-color-dark: #d3d2cc;
$green: #72cc96;
$shamrock-green: #399f62;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;

$base-font: "PressStart2P-Regular", sans-serif;
$caps-font: "Pixeboy", sans-serif;
$code-font: "LiberationMonoRegular", monospace;
// break point
$small: 750px;
