---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="homepage">

    <div class="block-left">
      <div class="content">
        <div class="main-info">
          <h1>
            <div class="environment"></div>
            <i class="hero glitch-h1 layers" data-text="{{ site.home_title }}"><span>{{ site.home_title }}</span></h1>
          </h1>
          <h2>
            <div class="environment"></div>
            <i class="hero glitch-h2 layers" data-text="{{ site.home_subtitle }}"><span>{{ site.home_subtitle }}</span></h2>
          </h2>
          <br />
          {% include social-links.html %}
        </div>
      </div>
      <canvas></canvas>
    </div>

    <div class="block-right">
      <a href="{{ site.url }}/posts" title="posts" class="posts-link">posts</a>
      <div class="content">
        <div class="about-info">
          {{ content }}
        </div>
      </div>
    </div>
    {% include overlay.html %}
  </body>
</html>
