---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="homepage">

    <div class="block-left">
      <div class="content">
        <div class="main-info">
          <h1>
            <div class="hero-container">
              <div class="environment"></div>
              <h1 class="hero glitch-h1 layers" data-text="{{ site.title }}"><span>{{ site.title }}</span></h1>
            </div>
          </h1>
          <h2>
            <div class="hero-container">
              <div class="environment"></div>
              <h2 class="hero glitch-h2 layers" data-text="{{ site.description }}"><span>{{ site.description }}</span></h2>
            </div>
          </h2>
          <br />
          {% include social-links.html %}
        </div>
      </div>
      <canvas></canvas>
    </div>

    <div class="block-right">
      <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
      <span class="posts-link">POSTS</span>
      <div class="content">
        <div class="about-info">
          {{ content }}
        </div>
      </div>
    </div>
    {% include overlay.html %}
  </body>
</html>
